.section_one {
    margin: 80px 0px 40px; 
}
.star-rating{
    .uni-video{
        padding: 0px 10px;
        color: #bb9f57;
    }
}

@media only screen and (max-width: 768px) {
    .section_one {
        .lists{
                .item {
                    float: none;
                    width: 100% ;
                    display: inline-block;
                }
        }     
    }
}
