.slider-hot {
    background-color: #122a67;
    padding: 80px 0px 0px;
    .heading-h2 {
        color: #fff;
        span{
            color: #ba9e55;
        }
    }
    .owl-item {

        border: none;
        border-radius: 10px;
        overflow: hidden;
        transition: all 0.3s;
        margin-bottom: 0; 
        .uni-sl-content{
            padding: 30px;
            color: #fff;
            p{
                text-align: justify;                  
                font-size: 30px;
                font-weight: 500;
            }         
            .quote{
                font-size: 30px;
                margin-top: 20px;
            }
            .name{
                margin-top: 50px;
            }
        }      
        
    }
    .owl-nav.disabled,
    .owl-carousel .owl-dots.disabled {
        display: block;
    }
    .owl-carousel .owl-next,
    .owl-carousel .owl-prev {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        line-height: 30px;
        color: #a8a8a8;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
        background: #fff !important;
    }
    .owl-carousel .owl-next {
        right: -40px;
    }
    .owl-carousel .owl-prev {
        left: -40px;
    }
}
@media only screen and (max-width: 768px) {
    .slider-hot {
        padding: 20px 0;
        .owl-carousel .owl-next,
        .owl-carousel .owl-prev {        
            top: 20%;           
        }
        .owl-carousel .owl-next {
            right: 6px;
        }
        .owl-carousel .owl-prev {
            left: 6px;
        }      
    }
}