/node_modules
/public/hot
/public/storage
/public/uploads
/public/uploads_video
/storage/*.key
/vendor
.env
.idea
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.7z
*.dmg
*.iso
*.jar
*.rar
*.tar
*.zip