.menu_user {
    background-color: white;
    border-top: 1px solid #dedede;
    ul {
        justify-content: left;
        li {
            a {
                padding: 10px 15px;
                font-size: 16px;
                color: #212121;
                display: inline-block;
                &.active {
                    border-bottom: 2px solid #2267af;
                }
            }
        }
    }
}
