@media screen and (min-width: 1024px) {
    .c-header__logo img {
        margin: 4px auto;
        max-height: initial;
        max-width: 176px;
    }
}

@media screen and (max-width: 1560px) {
    .c-header__link-item {
        margin-left: 22px;
    }
}

@media screen and (max-width: 1460px) {
    .js-main-menu-panel a {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {
    .m-category-card .m-category-card__image-wrapper img {
        max-width: 176px;
    }
}

.c-sidebar-filters__filter .name-filler {
    text-decoration: none;
    margin-left: 10px;
}

.c-sidebar-filters__filter .name-filler span.active {
    color: #C03235;
    font-weight: 600;
}

span.a-qty {
    color: #C03235;
}