@media screen and (min-width: 1024px) {
    .c-header__logo img {
        margin: 4px auto;
        max-height: initial;
        max-width: 176px;
    }
}

@media screen and (max-width: 1560px) {
    .c-header__link-item {
        margin-left: 22px;
    }
}

@media screen and (max-width: 1460px) {
    .js-main-menu-panel a {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {
    .m-category-card .m-category-card__image-wrapper img {
        max-width: 176px;
    }
    .c-media-card-2up {
        margin: 10px 0 15px;
    }
    .c-media-card-2up__media-wrapper .m-media-card {
        width: calc(50%);
    }
    .t-cms__with-nav .layout__region {
        grid-column: 1/span 2;
    }
    h1.title-blog-post {
        font-size: 2rem;
    }
    .field__item h2 {
        font-size: 1.5rem;
    }
    .field__item h3 {
        font-size: 1.2rem;
    }
    .field__item img {
        width: 100%;
        margin: 10px auto;
    }
    .c-story-block__headline {
        font-size: 26px;
        line-height: 1.2;
    }
    .c-story-block__content.info_store {
        padding: 0;
    }
    .m-media-block-aligned__content {
        width: 33%;
        padding: 40px;
        max-height: 700px;
        overflow-y: scroll;
    }
    .block-group-store {
        padding: 20px;
        width: 40%;
        display: block;
        cursor: pointer;
    }
    .heading_namestore {
        font-size: 22px;
    }
    .c-media-block-aligned__content-wrapper {
        padding-left: calc((100vw - 1280px)/2);
        padding-right: calc((100vw - 1280px)/2);
    }
    p.go-map {
        color: #ff7759;
        text-decoration: underline;
        float: right;
    }
    .m-heading {
        border-bottom: 1px solid #757575;
    }
    .m-heading:last-child,
    .m-heading:first-child {
        border-bottom: none;
    }
    .m-heading .m-heading__cta {
        width: 100%;
    }
    #search_name::placeholder {
        color: #ff7759;
    }
    #search_name {
        padding: 10px!important;
        margin-bottom: 10px;
        background: transparent;
        color: #ff7759;
        border: none;
        font-weight: 600;
        font-size: 16px;
        border-bottom: 1px solid #757575;
    }
    select#order_by {
        padding-top: 10px;
        padding-bottom: 10px;
        background: transparent;
        color: #ff7759;
        border: none;
        border-bottom: 1px solid #757575;
        width: 100%;
        background: transparent;
    }
    select#order_by:focus,
    #search_name:focus {
        outline: none;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid #757575;
        color: #ff7759;
    }
}

.c-sidebar-filters__filter .name-filler {
    text-decoration: none;
    margin-left: 10px;
}

.c-sidebar-filters__filter .name-filler span.active {
    color: #C03235;
    font-weight: 600;
}

span.a-qty {
    color: #C03235;
}