/* ĐỨC ANH CSS */

.modal-dialog {
    margin-top: 10%;
}

.hover_bea {
    color: #0b2d25;
}

.hover_bea:hover {
    color: red;
}

.modal-dialog {
    margin-top: 10%;
}

.list-width {
    width: 100%;
}

.block-collapsible-nav {
    margin-right: 10px;
}

@media(max-width:991.98px) {
    .block-collapsible-nav {
        margin: auto;
    }
}

.m-newsletter-signup__heading {
    color: #fff;
    font-weight: 400;
}

.m-newsletter-signup__description {
    color: #fff;
}

.m-newsletter-signup--no-bg .m-newsletter-signup__input {
    box-shadow: 0 0 0 2px #ddd6c4 inset;
    border-right: none;
    margin-right: -4px;
    line-height: 20px;
}

.padding_css {
    padding: 0 20px;
}

.block .box-actions .action::after {
    content: none;
    border-left: 1px solid #ddd6c4;
    display: inline-block;
    height: 12px;
    margin: 0 10px;
    margin-top: 0px;
    position: absolute;
    margin-top: 4px;
}

h5,
.m-newsletter-signup__heading,
.c-homepage-hero__subheading,
.c-category-card-grid__subheading {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.3;
    font-family: poppins, Arial, sans-serif;
    font-weight: 700;
    color: #fff;
    margin: 0 0 10px;
    padding: 0;
}


/* ================================================================== */

@import url('https://fonts.googleapis.com/css?family=Nuto:400,700');
.context {
    width: 100%;
    position: relative;
}

.context h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-border: 1px solid rgba(255, 255, 255, 0.65);
    font-size: 50px;
    backdrop-filter: blur(10px);
}

.area {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #3DBD9F 0%, #3DBD9F 46%, #3DBD9F 100%);
    width: 100%;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 80px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}