@import "./../../../bases/init";
@import "~jquery-modal";
@import "~toastr";
@import "./../../components/inc_header";
@import "./../../components/inc_item_course";
@import "./../../components/loading/inc_loading";
@import "./../../components/inc_tab";
@import "../../components/inc_footer";
@import "../../components/inc_popup";
@import "include/inc_menu_user";
@import "include/inc_update_info";
@import "include/inc_box_avatar";
@import "include/inc_dashboard";
@import "../../components/inc_vote";
@import "./../../components/course_content";
#pjax-pages {
    background-color: white;
    margin-top: 155px;
}
.pages_user {
    min-height: 50vh;
}
.box {
    .margin-left{
     margin-left:1rem;
    }
 }
@media only screen and (max-width: 768px) {
    #pjax-pages {
        margin-top: 58px;
    }
    .box {
       display: block;
       .margin-left{
        margin-left: 0;
       }
    }
}