.box-keywords {
    a {
        color: #19232d;
        text-decoration: none;
        font-weight: 500;
        position: relative;
        margin-right: 5px;
        padding-right: 10px;
        display: inline-block;
        &:after{
            content: "";
            width: 1px;
            background-color: #19232d;
            position: absolute;
            height: 10px;
            right: 0;
            transform: translateY(-50%);
            top: 50%;
        }
        &:last-child{
            &:after{
                content: '';
                width: 0;
            }
        }
    }
}
