.blog_header {
    background-color: white;
    .logo {
        display: inline-block;
        img {           
            max-width: 100%;
            width: 277px;
            height: 90px;
        }
    }
}
