@import "./../../../bases/init";
@import "~jquery-modal";
@import "~toastr";
@import "./../../components/inc_header";
@import "./../../components/inc_breadcrumb";
@import "./../../components/inc_item_course";
@import "./../../components/inc_vote";
@import "./include/inc_header_course";
@import "./include/inc_page_course";
@import "./include/inc_section_right";
@import "./include/inc_vote";
@import "./include/inc_box_fix";
@import "./include/inc_quiz_main";
@import "../../components/inc_popup";
@import "../../components/inc_popup_auth";
@import "../../components/inc_footer";


@media only screen and (max-width: 768px) {
    .comments ul>li .comment-content {
        padding: 0;
    }

    .page-content .container {
        padding-top: 40;
    }

    .mt-4 {
        margin-top: 1rem !important;
    }

    .box-section .box-content .box .box-70 {
        margin-left: 20px;
        flex: 0 0 60%;
    }
    .box-section .box-content .box .box-30 {
        flex: 0 0 40%;
    }

    .teacher .info a img {
        object-fit: cover;
    }
    .list-course.item .info .title a{
        min-height: unset;
    }
    .item-title {
        display: none;
    }

    .box-fix .item {
        width: calc(100%/1);
    }
    .lists .item-3-0 {
        width: calc(100%/1);
    }
}