.page-shopping-cart {
    min-height: 60vh;
    .table-responsive tr th{
        background: #122a67;
    color: #f2f2f2;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    }
    .table-responsive tbody tr td{
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    }
    
    .name-product {
        a {
            color: #222222;
        }
    }
    .cart-footer {
        display: flex;
        justify-content: space-between;
        p {

        }
        div {

        }
    }
}
.adsmo-top {
    margin-top: 156px;
}

 @media only screen and (max-width: 768px) {
        .adsmo-top {
            margin-top: 60px;
        }
        .table > tbody > tr > td{
            line-height: 46px;
        }
        .group-btn-pay{
            display: flex;
        }
        .group-btn-pay a{
            padding: 10px;
    margin: auto 5px;
        }
    }