.block-reviews {
    background-color: white;
    padding: 10px;
    span {
        i {
            font-size: 18px;
            color: #eff0f5;
        }
        i.active {
            color: #febe42;
        }
    }
    #ratings {
        i {
            cursor: pointer;
        }
    }
    .reviews-text {
        display: inline-block;
        margin-left: 10px;
        position: relative;
        background: #122a67;
        color: #fff;
        padding: 2px 8px;
        box-sizing: border-box;
        font-size: 12px;
        border-radius: 2px;
        &:after {
            right: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(82,184,88,0);
            border-right-color: #122a67;
            border-width: 6px;
            margin-top: -6px;
        }
    }
    #rv_content {
        min-height: 60px;
        border-radius: 2px;
        display: block;
        font-size: 14px;
        box-sizing: border-box;
        padding: 8px;
        height: 38px;
        width: 100%;
        background: #fff;
        border: 2px solid #f2f2f2 !important;
    }

    button {
        background-color: #122a67;
        border-color: #122a67;
        color: white;
    }
    .lists-vote {
        .item {
            align-items: center;
            border: 1px solid #dedede;
            margin-bottom: 1rem;
            padding: 10px 0;
            &-avatar {
                width: 120px;
                text-align: center;
                a {
                    display: inline-block;
                    img {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        border: 2px solid #dedede;
                    }
                }
            }
            &-info {
                margin-left: 10px;
                width: calc(100% - 120px);
                i.active {
                    color: #febe42;
                }
            }
        }
    }
}
