@media only screen and (min-width: 768px) {

    .header {
        background: #fff;
        transition: top .2s ease-in-out;
        z-index: 10;

        &-left {
            width: 60%;
            margin-right: 10px;
            .logo {
                a {
                    display: inline-block;
                    width: 150px;
                    img {

                    }
                }
            }
            .form_search {
                width: 70%;
                form {
                    position: relative;
                    input {
                        width: 100%;
                        border: 1px solid #dbdbdb;
                        background-color: #f6f6f6;
                        color: #353535;
                        border-radius: 30px;
                    }
                    button {
                        position: absolute;
                        top: 50%;
                        right: 8px;
                        transform: translateY(-50%);
                        border: 0;
                        background-color: transparent;
                        z-index: 4;
                    }
                }
            }
        }
        &-right {
            
            .btn-cdo {
                background: #fb6a00;
                border-radius: 100px;
                padding: 4px 10px;
                box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
                transition: all .2s ease;
                font-weight: bold;
                color: white;
                text-decoration: none;
                i {
                    margin-right: 10px;
                    color: white;
                }
            }
            .cart {
                position: relative;
                i {
                    font-size: 30px;
                    color: #272727;
                }
                span {
                    position: absolute;
                    top: -9px;
                    right: -10px;
                }
            }
            .auth {
                height: 100%;
                background-color: #bb9f57;
                border-radius: 10px;
                font-size: 15px;
                padding: 5px 10px;
                margin-left: 20px;
                .js-auth-popup {
                    margin-bottom: 0;
                }
                a {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: inline-block;
                    text-align: center;
                    line-height: 30px;
                }
                a.login {
                    display: inline-block;width: auto;
                    color: white;
                    font-weight: bold;
                    text-decoration: none;
                }
                .facebook {
                    background: #3B5998;
                    color: white;
                }
                .google {
                    background: #dd4b39;
                    color: white;
                }
            }
        }
    }
    .header-button {
        .box-category {
            width: 270px;
            a {
                color: #606060;
                font-size: 15px;
                font-weight: 500;
                white-space: nowrap;
                text-transform: uppercase;
                i {
                    margin-right: 10px;
                }
            }
        }
        .box-right {
            width: calc(100% - 270px);
            display: inline;
            text-align: right;
            a {
                color: #606060;
                font-size: 15px;
                font-weight: 500;
                white-space: nowrap;
                margin: 0 10px;
                padding: 5px 0;
                display: inline-block;
                i {
                    margin-right: 5px;
                    color: #122a67;
                }
                &:hover {
                    cursor: pointer;
                    color: #122a67;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .header-mb{
        .lists {
            align-items: center;
            padding: 5px 0;
            .bars{
                i {
                    font-size: 22px;
                    color: #606060;
                }
            }
            .logo {
                img {
                    max-width: 100%;
                    width: 120px;
                }
            }
            .action {
                a {
                    i {
                        font-size: 22px;
                        color: #606060;
                    }

                    position: relative;
                    span {
                        position: absolute;
                        top: -12px;
                        left: 15px;
                        display: flex;
                        justify-content: center;
                        width: 16px;
                        height: 16px;
                        background-color: #fb6a00;
                        border-radius: 50px;
                        color: #fff;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .auth {  
        .js-auth-popup {           
        }
        a {
            i{
                font-size: 25px;
            }
           span{
               display: none;
           } 
        }
        
    }
}
img.header-profile-icon {
    width: 50px !important;
    height: 50px; 
    object-fit: cover;
}
.dropdown-user-avatar img{
    width: 35px !important;
    height: 35px;
    object-fit: cover;
}
@import "inc_custome_typehead";
