body {
    position: relative;
    left: 0;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

html.zeynep-opened {
    overflow-x: hidden;
}

html.zeynep-opened body {
    width: 100%;
    position: fixed;
}

html.zeynep-opened .zeynep {
    pointer-events: auto;
}

.zeynep {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    overflow: hidden;
    overflow-y: auto;
    background-color: #272626;
    color: #ffffff;
    z-index: 1011;
    -webkit-overflow-scrolling: touch;
    pointer-events: none;
    transform: translateX(-100%);
}

html:not(.no-transition) body,
.zeynep:not(.no-transition),
.zeynep .submenu:not(.no-transition) {
    transition: all 375ms;
    transition-property: left, right, transform;
}

.zeynep-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    display: none;
    /*background-color: rgba(0,0,0,.4);*/
}

.zeynep-opened .zeynep-overlay {
    display: block;
}

.zeynep ul {
    list-style-type: none;
    padding: 0;
    -webkit-overflow-scrolling: touch;
}

.zeynep ul>li {
    padding: 15px 26px;
    display: block;
}

.zeynep ul>li.has-submenu {
    background-repeat: no-repeat;
    background-position: right 26px center;
}

.zeynep ul>li>a {
    font-size: 16px;
    color: #ffffff;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

.zeynep ul>li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.zeynep .submenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    overflow: hidden;
    overflow-y: auto;
    background-color: #272626;
    min-height: 100%;
    width: 100%;
}

.zeynep .submenu.opened {
    left: 0;
}

.zeynep .submenu-header {
    background-color: #333333;
    padding: 20px 26px;
    cursor: pointer;
    position: relative;
    padding-left: 55px;
}

.zeynep .submenu-header>a {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    display: block;
    text-decoration: none;
}

.zeynep .submenu-header>a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 26px;
    width: 20px;
    height: 100%;
    transform: rotate(-180deg);
    background-repeat: no-repeat;
    background-position: center right;
}

.zeynep .submenu>label {
    padding-left: 26px;
    color: #ffffff;
    font-size: 16px;
    opacity: 0.5;
    margin-top: 22px;
    margin-bottom: 16px;
    display: block;
    width: 100%;
}

.header-v1 .header-phone-numbers {
    padding-right: 0;
}

.header-phone-numbers .phone-number {
    font-weight: 600;
}

.m-sort-by__arrow {
    top: calc(50% - 20px);
}


/* button.btn_store_submit.js-add-cart {
    margin: auto;
} */

#toast-container>.toast-007BFF {
    background-color: #00b9ff;
    opacity: 1;
    /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=) !important; */
}

#toast-container>.toast-error {
    background-color: #DC3545;
    opacity: 1;
    /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=) !important; */
}

#toast-container>.toast-success {
    background-color: #28A745;
    opacity: 1;
    /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==) !important; */
}

#toast-container>.toast-warning {
    background-color: #FFC107;
    opacity: 1;
}

.list-priceCart .product-item {
    margin-left: 20px !important;
    margin-bottom: 10px !important;
}

h5.title {
    margin-top: 10px;
}

.title {
    color: #0b2d25;
}

tr.order-list-li th {
    font-weight: 600;
}

.block-content .primary {
    text-align: right;
}

.cart-content #wrap form {
    position: relative;
}

.search-full-view {
    position: fixed;
    width: 100%;
    height: 12%;
    left: 0;
    top: 0;
    background: #0b2d25;
    opacity: 0;
    z-index: -1;
    transition: .5s all;
    transform: scale(0);
}

.search-full-view.search-normal-screen {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

.search-full-view .input-group {
    width: 80%;
    margin: 0 auto;
    top: 20%;
    height: auto;
}

.search-full-view .input-group .form-control {
    background: transparent;
    border-bottom: 2px solid #fff;
    font-size: 6em;
    padding: 10px;
    vertical-align: unset;
    color: #cdcdcd;
}

.search-full-view .input-group .form-control:focus {
    border-color: #fff;
    border: 0 !important;
    border-bottom: 2px solid #fff !important;
}

.search-full-view .input-group .input-group-addon {
    background: transparent;
    font-size: 4em;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.search-full-view .btn-close {
    background: transparent;
    border: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.search-full-view .btn-close img {
    width: 20px;
}

input#search:focus::placeholder {
    color: #fff;
    display: contents!important;
    opacity: 0!important;
    transition: opacity 100s 100s ease;
}

input#search {
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
    background: transparent;
    opacity: 1;
    color: #fff !important;
    border-bottom: 1px solid #fff;
    border-radius: unset;
    outline: none;
    top: 40%;
    box-shadow: none;
    font-size: 20px;
    font-family: montserrat, sans-serif;
    ;
}

input#search::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 0.8;
    /* Firefox */
}

input#search:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
    opacity: 0.8;
}

input#search::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
    opacity: 0.8;
}


/*input#search:focus {
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
    background: transparent;
    opacity: 1;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-radius: unset;
    outline: none;
    top: 50%;
    box-shadow: none;
}*/

a.product-name-fio span {
    font-size: 1em!important;
}

.a-btn.a-btn--primary.m-product-card__add-to-cart-btn,
.a-btn.a-btn--primary.m-product-card__add-to-cart-btn {
    background: #0b2d25;
    opacity: 0.8;
}

.a-btn.a-btn--primary.m-product-card__add-to-cart-btn:hover,
.a-btn.a-btn--primary.m-product-card__add-to-cart-btn:hover {
    background: #08532f;
    opacity: 0.8;
}

.buttons_added {
    opacity: 1;
    display: inline-block;
    display: -ms-inline-flexbox;
    display: block;
    white-space: nowrap;
    /* vertical-align: top; */
    text-align: center;
    margin: 5px auto 0;
    margin-bottom: 10px;
}

.buttons_added .is-form {
    color: #0b2d25;
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    height: 2.2rem;
    width: 1.9rem;
    padding: 0;
    text-shadow: 1px 1px 1px #fff;
    border: 1px solid #ddd;
}

.buttons_added .is-form:focus,
.input-text:focus {
    outline: none;
}

.buttons_added .is-form.minus {
    border-radius: 4px 0 0 4px;
}

.buttons_added .is-form.plus {
    border-radius: 0 4px 4px 0;
}

.buttons_added .input-qty {
    background-color: #fff;
    height: 2.2rem;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding: 0;
    width: 40px;
    order: 0;
    padding: 0px !important;
}

.buttons_added .input-qty::-webkit-outer-spin-button,
.input-qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Tien cssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss */

span.g-price {
    height: 20px;
    color: #666;
    font-size: 15px;
    font-weight: 700;
    text-decoration: line-through;
}

.m-product-card__sku span:first-child,
.m-product-overview__unit-and-sku span:first-child {
    float: left;
    background: #f5eeee;
    padding: 0 5px;
}

.m-product-card__sku span:last-child,
.m-product-overview__unit-and-sku span:last-child {
    float: right;
}

.m-product-card__sku span>img,
.m-product-overview__unit-and-sku span>img {
    display: inline-flex;
    padding-bottom: 5px;
}

.m-product-overview__price-wrapper.d-block {
    margin: 0 auto;
}

.icon-favorite.a-icon-text-btn__icon {
    flex: 0 0 15%;
    /* margin: auto; */
}

.sigle {
    font-size: 20px!important;
}

.trade-name {
    background: #ea7236;
    padding: 10px;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .secondary-navigation ul.nav-menu>li.menu-item>a {
        padding: 0;
    }
    .m-category-card {
        height: auto;
        width: 349px;
        max-height: 380px;
    }
    .header-v1 .main-navigation {
        width: 10%;
    }
    .header-v1 .site-branding {
        width: 19%;
        text-align: right;
        margin: 0 2.5rem;
    }
    img.pizzaro-logo {
        float: right;
    }
    .header-v1 .main-navigation {
        width: 49%;
    }
    .site-header {
        padding-top: 0;
        /*padding-bottom: 12px;
        padding-left: 12px;*/
    }
    .c-homepage-hero-carousel__img {
        margin: 0;
    }
    #loadMore {
        width: 30%;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .c-sidebar-filters {
        height: auto;
        max-height: 920px;
    }
    #loadMore:hover {
        border: 2px solid #0b2d25;
    }
    .m-product-gallery {
        width: calc(50vw - 50px);
    }
}

@media screen and (min-width: 1200px) {
    .secondary-navigation ul.menu>li>a,
    .secondary-navigation ul.nav-menu>li>a {
        padding: 0;
    }
}

@media screen and (min-width: 1600px) {
    .secondary-navigation ul.menu>li>a,
    .secondary-navigation ul.nav-menu>li>a {
        padding: 1em 0;
    }
}

@media (max-width: 768px) {
    table#shopping-cart-table {
        display: contents;
    }
    .block-content .primary {
        text-align: center;
    }
    table.cart tbody tr td {
        padding: 0 !important;
    }
    .column.main .block {
        padding-left: 0;
        padding-right: 0;
    }
    .m-sort-by {
        width: 100%;
        padding: 0 5px;
        border: 1px solid;
        margin-left: 5px;
    }
    .m-sort-by__select {
        padding: 5px 0;
    }
    .column.main .block:first-child {
        margin-bottom: 0;
    }
    table.table.table-sm.color-abc {
        margin-bottom: 1em;
    }
    table.cart tbody tr td {
        padding-left: 0;
        padding-right: 0;
    }
    table.cart,
    table.cart tbody,
    table.cart tbody tr {
        width: 100%;
        display: table;
    }
    table.cart,
    table.cart tbody,
    table.cart tbody tr:last-child {
        width: 100%;
        display: table;
    }
    .c-filter-bar__sorting {
        display: flex;
        width: 50%;
    }
    #shopping-cart-table thead {
        display: table;
        width: 100%;
    }
    .site-header {
        z-index: 99999999999;
        padding: 10px 0;
        /* position: fixed; */
        width: 100%;
        top: 0px;
    }
    .fixed-menu {
        position: fixed;
    }
    .pizzaro-logo {
        max-height: fit-content;
        width: 90%;
        padding-left: 10px;
    }
    .custom-logo-link {
        margin-top: 0;
    }
    .c-homepage-hero-carousel__overlay-content {
        padding: 20px 40px;
    }
    h2.c-homepage-hero-carousel__headline {
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 10px;
        text-align: center;
    }
    .site-header .main-navigation {
        margin-right: 0;
    }
    a.c-homepage-hero-carousel__cta {
        display: block;
        width: 40%;
        margin: auto;
    }
    .m-expandable-product-card {
        margin: auto;
    }
    .m-expandable-product-card__arrow {
        margin-right: 0;
    }
    .m-category-card__image-wrapper picture>img {
        margin: auto;
        padding-bottom: 10px;
    }
    li.c-categories-slider__item {
        background-color: #fff;
    }
    .m-category-card {
        padding-top: 20px;
        height: auto;
        padding-bottom: 20px;
    }
    .m-category-card__caption p {
        text-transform: none;
    }
    .m-category-card--bordered {
        border: none;
    }
    .m-mini-product-card__info {
        padding-bottom: 0;
    }
    .a-folio {
        font-size: 1.25rem;
    }
    .c-media-block__image-wrapper {
        width: 100%;
    }
    .c-media-block__content {
        position: absolute;
        width: 100%;
        top: calc(var(--height) - 35%);
        left: 0;
        right: 0;
        box-shadow: 0 0 0 8px rgb(221 214 196 / 30%);
        background-color: #0b2d25;
        padding: 22px 25px;
    }
}